/* Game Board */
.wmc-game-board {
    display: block;
    float: left;
    width: 100%;
    background-color: #333;
}

.wmc-game-board,
.wmc-game-board >  p,
.wmc-game-board >  h1 {
    color: #fff;
    text-align: center;
}
.wmc-box {
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid #fff !important;
    margin-right: 10px;
}
.wmc-message {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 50px;
    border: 1px solid #fff;
}
/* Animation */
.wmc-box[data-anim-*] {
    display: none;
    background-color: #c3c3c3;
    position: absolute;
    width: 70%;
    height: 500px;
    animation-name: box_animation;
    animation-duration: 4s;
}

.wmc-box[data-anim-color="fadein"] {
    display: none;
    background-color: #c3c3c3;
    animation-name: color_animation;
    animation-duration: 4s;
}

@keyframes box_animation {
    0% { display: none; }
    50% { display: block;}
}

@keyframes color_animation {
    0% { background-color: #c3c3c3;}
    50% { background-color: limecolor; }
}

/* Notifications */
.wmc-alert {
    display: block;
}